body.dark-0 {
	background-image: url("../images/bg/neutral_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.dark-1{
  background-image: url("../images/bg/dark-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.dark-2{
  background-image: url("../images/bg/dark-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.dark-3{
  background-image: url("../images/bg/dark_Background_Border.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body.dark-3,.dark-2,.dark-1,.dark-0 p {
  font-family: 'Over the Rainbow', cursive;
  font-size: 22px;
}

body.dark-3,.dark-2,.dark-1,.dark-0 span.firstLetter {
  font-size: 50px;
  background-color: #7c6448;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'UnifrakturMaguntia', cursive;
  background-color: #922c2c;
}

body.dark-3,.dark-2,.dark-1,.dark-0 span.human-speak {
  font-family: 'Princess Sofia', cursive;
  font-style: italic;
  font-weight: bold;
}

body.dark-3,.dark-2,.dark-1,.dark-0  span.goblin-speak {
  font-family: 'Griffy', cursive;
  font-style: italic;
  font-weight: bold;
}

body.dark-3,.dark-2,.dark-1,.dark-0 .ending p {
	font-size: 20px;
	margin-right: 41rem;
	margin-left: 38rem;
}

body.dark-3,.dark-2,.dark-1,.dark-0,.endHeading{
	font-size: 80px;
	margin-top: 100px;
}
