body.light {
  background-image: url("../images/primary/light_Background_Border.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body.light p {
  font-family: 'Fondamento', cursive;
  font-size: 22px;
}

body.light span.firstLetter {
  font-size: 50px;
  background-color: gold;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'UnifrakturMaguntia', cursive;
}

body.light span.human-speak {
  font-family: 'Princess Sofia', cursive;
  font-style: italic;
  font-weight: bold;
}

body.light span.goblin-speak {
  font-family: 'Griffy', cursive;
  font-style: italic;
  font-weight: bold;
}
