.hide {
	  display: none;
	}

.playerOne, .playerTwo, .hairInput, .fruitInput, .animalInput0, .animalInput1, .animalInput2, .animalInput3, .animalInput4 {
  color: #c61f1f;
}

.decide {
  font-weight: bold;
}

body {
  background-image: url("../images/primary/coverbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.cover-page {
  position: relative;
  color: #9c7b43;
  text-align: center;
  font-family: 'Fondamento', cursive;
}

.cover-bg {
  z-index: -1;
  bottom: 0;
  right: 0;
  background-image: url("../images/BookCover.jpg");
}

/*these classes will reverse the image*/
.cover-bg.cover-bg-reverse {
  transform: translate(-50%, -50%) scaleX(-1);
}

.ending p {
	font-size: 20px;
	margin-right: 41rem;
	margin-left: 38rem;
}

.endHeading{
	font-size: 80px;
	margin-top: 100px;
}

.cover-page, .quill-pages, .cover-bg {
  height: 700px;
  width: 1170px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firstLetter {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 30px;
}

p {
  font-size: 17px;
  font-family:'Fondamento', cursive;
}

#open-book {
  margin-top: 380px;
  color: #9c7b43;
}

.reRead {
  background-color: #a0896b;
  font-family: 'Fondamento', cursive;
  color: rgb(255, 248, 209);
}

.quill-pages {
  background-image: url("../images/primary/quillBook.jpg");
}

.choice {
  background-color: #a0896b;
  font-family: 'Fondamento', cursive;
  color: rgb(255, 248, 209);
  margin-top: 10px;
}

.img-container img {
  max-width: 100%;
  max-height: 450px;
  margin-top: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-container p {
  max-height: 490px;
  margin-top: 100px;
  overflow: auto;
}

.cover-content {
  margin-top: 64px;
  margin-left: 40px;
}

.book-cover h1 {
  margin-top: 124px;
}

.photo-quote {
  position: absolute;
  width: 307px;
  left: 700px;
  bottom: 550px;
  font-family: cursive;
  font-weight: bold;
  font-size: 16px;
}

.img-container {
  position: relative;
  height: 594px;
  width: 400px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
